.search {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.input {
  padding: 6px 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  background: #fafafa;
}
