.defaultHeader {
  background: url('/images/defaultHeaderBg.jpeg') center/cover no-repeat;

  min-height: 260px;
    display: flex;
    flex-direction: column;
 
}

.title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin: 84px auto ;
  
}
