.item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  padding: 20px 24px;
  width: 220px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item:hover{
  cursor: pointer;
  background: #f9f7f7;
  box-shadow: 10px 25px 10px rgba(0, 0, 0, 0.06);
}

.img {
  width: 150px;
  height: 130px;
  object-fit: contain;
  margin-bottom: 16px;
}